cloudpickle==1.6.0
colorama==0.4.4
cycler==0.10.0
griddly==1.2.3
gym==0.18.3
imageio==2.9.0
kiwisolver==1.3.1
matplotlib==3.4.2
numpy==1.21.1
Pillow==8.2.0
pygame==2.0.1
pyglet==1.5.15
pyparsing==2.4.7
python-dateutil==2.8.2
PyYAML==5.4.1
scipy==1.7.0
six==1.16.0
tqdm==4.62.0
